
.item{
	padding-left:10px;
	padding-right:10px;
}

.item_info {
        width:225px;
	height: 45px;
	padding-left: 8px;
	line-height: 45px;
	font-size: 12px;
	color: #44494B;
	background: #1F1E1D;
	/* background-image: url('../img/item_info_bg.png');	 */
}

.like_this{
	background: url('../img/like.png') no-repeat 0px 17px;
	padding: 0px 18px;
	color: #AFB1B3;
	float: right;
	
}

.item_title{

	line-height: 45px;
	font-size: 13px;
	font-weight: bold;
	color: #44494B;
	background-image: url('../img/item_title_bg.png');
}
.savatar{
	width: 32px;
	height: 32px;
}

.photo{
    width:225px;
    overflow: hidden;
    float:left;
    margin:15px;
    text-align:left;
}

#context{
    width:1100px;
    text-align:center;
    margin:0 auto;
    margin-bottom:30px
}

body {
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #333333;
  background-color: #ffffff;
  padding: 20px;
  background: #474747 url('../img/bg.png') repeat;
}