
.image_zoom { 
    display:block; 
    position:relative; 
    overflow:hidden; 
    background:#fff ;
}

.image_zoom img { display:none }

.zoomOverlay {
    position:absolute;
    top:0; left:0;
    bottom:0; right:0;
    display:none;
    background-image:url(../images/zoom.png);
    background-repeat:no-repeat;
    background-position:center;
}

