# -*- coding: utf-8 -*-
<!doctype html>
<html lang="en">
<head>
  
  <meta charset="utf-8" />
  
  <!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
  
  <!-- scripts at bottom of page -->
		<link rel="stylesheet" type="text/css" href="../static/css/style.css" media="all" />
		<link rel="stylesheet" type="text/css" href="../static/css/bootstrap-responsive.min.css" media="all" />
		<link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css" media="all" />
		<link rel="stylesheet" type="text/css" href="../static/css/douban.css" media="all" />
		<title>${title}</title>
</head>
<body >
  <%include file="menu.html" />
  <div class="compound-bg">
    <div class="container">
        <div id="box">
            <h2>生成你关注好友的头像墙</h2>
            <button class="btn"> 开始生成</button>
        </div>     
    </div> 
  </div>
</body>
</html>

