# -*- coding: utf-8 -*-
<!doctype html>
<html lang="en">
<head>
  
  <meta charset="utf-8" />
  
  <!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
  
  <!-- scripts at bottom of page -->
		<link rel="stylesheet" type="text/css" href="../static/css/style.css" media="all" />
		<link rel="stylesheet" type="text/css" href="../static/css/bootstrap-responsive.min.css" media="all" />
		<link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css" media="all" />
		<link rel="stylesheet" type="text/css" href="http://twitter.github.com/bootstrap/assets/css/bootstrap.css" media="all" />
		<link rel="stylesheet" type="text/css" href="../static/css/douban.css" media="all" />
		<title>${title}</title>
</head>
<body >

 <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="./index.html">豆瓣相册</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="active">
                <a href="./index.html">首页</a>
              </li>
              <li class="">
                <a href="./getting-started.html">红人</a>
              </li>
              <li class="">
                <a href="./scaffolding.html">发现</a>
              </li>
              <li class="">
                <a href="./base-css.html">友邻</a>
              </li>
              <li class="">
                <a href="./components.html">喜欢</a>
              </li>
              <li class="">
                <a href="./javascript.html">自己的</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

  <div id="context">     
  <div id="container" class="album variable-sizes clearfix infinite-scrolling">
    
    % for item in items:
	  <div class="photo">
	          <a href="p/{{ am.aid }}" title="{{ am.name}}"><img src="http://localhost:8080/proxy?url=${item['image']}" alt="${item['author']['name']}" /></a>
	  				<div class="item_info" >
					<img class="savatar" src="http://localhost:8080/proxy?url=${item['author']['avatar']}">
					${item['author']['name']}
					<span class="like">
						<a class="like_this" href="#">${item['liked_count']}</a>
					</span>
				</div>

	  </div>



    % endfor
          

 </div> <!-- #container -->
  
  <nav id="page_nav">
    <a href="../index?page=${page}"></a>
  </nav>

  </div>
		<script type="text/javascript" src="../static/js/jquery-1.7.1.min.js"></script>	
		<script type="text/javascript" src="../static/js/bootstrap.min.js"></script>	
		<script type="text/javascript" src="../static/js/jquery.isotope.min.js"></script>	
		<script type="text/javascript" src="../static/js/jquery.infinitescroll.min.js"></script>	

  <script>
    $(function(){

      var $container = $('#container');
    
      $container.isotope({
        itemSelector : '.photo'
      });
      
      $container.infinitescroll({
        navSelector  : '#page_nav',    // selector for the paged navigation 
        nextSelector : '#page_nav a',  // selector for the NEXT link (to page 2)
        itemSelector : '.photo',     // selector for all items you'll retrieve
        loading: {
            finishedMsg: 'No more pages to load.',
            img: 'http://i.imgur.com/qkKy8.gif'
          }
        },
        // call Isotope as a callback
        function( newElements ) {
          $container.isotope( 'appended', $( newElements ) ); 
        }
      );
      
    
    });
  </script>
    

  

</body>
</html>

