#-*- coding:utf-8 -*-
<!DOCTYPE HTML> 
<html>
	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<link rel="stylesheet" type="text/css" href="../static/css/bootstrap-responsive.min.css" media="all" />
		<link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css" media="all" />
		<link rel="stylesheet" type="text/css" href="../static/css/style.css" media="all" />
		<script type="text/javascript" src="../static/js/bootstrap.min.js"></script>	
		<script type="text/javascript" src="../static/js/jquery-1.7.1.min.js"></script>	
		<script type="text/javascript" src="../static/js/jquery.infinitescroll.min.js"></script>	
		<script type="text/javascript" src="../static/js/jquery.isotope.min.js"></script>	
		<title>${title}</title>
	</head>
	<body>
		<div id="container" class="container variable-sizes clearfix infinite-scrolling isotope">
			% for item in items:
			<div class="element other nonmental" style="width:300px; height:400px; ">
				<div style="width:300px; height:300px">
					<img src="http://localhost:8080/proxy?url=${item['image']}" width="300px" >
				</div>
				<div style="width:300px; height:50px; position:static">
					<p>- 你好- !</p>
				</div>
			</div>	
			% endfor
		</div>
		<script>
			$(function(){
				var $container = $('#container');
				$container.isotope({
					//itemSelector:'.element'
				});

				$container.infinitescroll({
					navSelector: '#page_nav',
					nextSelector: '#page_nav a',
					itemSelector: '.element', 
					loading:{
						finishedMsg: 'No more pages to load.', 
						img: 'http://i.imgur.com/qkKy8.gif'
					}
				}, 
				function(newElements){
					$container.isotope('append', $(newElements));
				}
				);
			});
		</script>
	</body>
</html>

