# -*- coding: utf-8 -*-
<!doctype html>
<html lang="en">
<head>
  <%include file="style.html" />
</head>
<body >

  <%include file="menu.html" />
  <div id="context">     
  <div id="container" class="album variable-sizes clearfix infinite-scrolling">
    
    % for item in items:
	  <div class="photo">
	          <a href="/photos?aid=${item['id'] }" title="${item['title']}"><img src="http://localhost:8080/proxy?url=${item['image']}" alt="${item['author']['name']}" /></a>
	  				<div class="item_info" >
					<img class="savatar" src="http://localhost:8080/proxy?url=${item['author']['avatar']}">
					${item['author']['name']}
					<span class="like">
						<a class="like_this" href="#">${item['liked_count']}</a>
					</span>
				</div>

	  </div>



    % endfor
          

 </div> <!-- #container -->
  
  <nav id="page_nav">
    <a href="../like?page=${page}"></a>
  </nav>

  </div>

  <script>
    $(function(){

      var $container = $('#container');
    
      $container.imagesLoaded(function(){
         $container.isotope({
        itemSelector : '.photo'
      });
    });
      
      $container.infinitescroll({
        navSelector  : '#page_nav',    // selector for the paged navigation 
        nextSelector : '#page_nav a',  // selector for the NEXT link (to page 2)
        itemSelector : '.photo',     // selector for all items you'll retrieve
        loading: {
            finishedMsg: 'No more pages to load.',
            img: 'http://i.imgur.com/qkKy8.gif'
          }
        },
        // call Isotope as a callback
        function( newElements ) {
          $container.isotope( 'appended', $( newElements ) ); 
        }
      );
      
    
    });
  </script>
    

  

</body>
</html>

